%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{deps, []}.
{port_specs, [{"linux", "priv/troodon_cam",
	       ["c_src/camera.c"]}]}.
{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -lprussdrv -lpthread"}]}.
{pre_hooks, [
    {compile, "pasm -c c_src/pru_camera.p c_src/pru_camera"}
            ]}.
{clean_files, [
    "c_src/pru_camera_bin.h",
    "c_src/*.o",
    "priv/troodon_cam"
              ]}.
